<div class="toolbar">
  <h1 class="ml-20">Find Genre by 258228T</h1>
</div>

<div class="content container">
  <div class="row">
    <h2 class="title-text text-left">
      Paste the lyrics here and click Check for the Analysis.
    </h2>
    <textarea class="lyrics-input" rows="10" cols="50" [value]="lyrics" (input)="onValueChange($event)"></textarea>
  </div>

  <div class="row">
    <button class="check-btn mt-20" (click)="checkBtnAction()" [disabled]="isCheckBtnDisabled">
      {{checkBtnText}}
    </button>
  </div>

  <div class="row mt-20">
    <h4 *ngIf="chart" class="title-text text-center">
      Analysis
    </h4>

    <div style="display: block;">
      <canvas #myPieChart></canvas>
    </div>
  </div>
</div>

<router-outlet></router-outlet>